.App{
  /* background-image: url('./img/background.jpg'); */
  background-image: linear-gradient(blue, white);
  background-size: cover;
  height:100vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.alice img:first-child{
  margin-top:17%;
  width:25%;
  height: auto;
}
.alice img:nth-child(2){
  float: right;
  width:17.5%;
  height: auto;
}
/* The Clouds Component */
/*  */
.clouds{
  display: flex;
 }

.clouds img{
  width: 20%;
  height:auto;
}