.App{
  /* background-image: url('./img/background.jpg'); */
  background-image: linear-gradient(blue, white);
  background-size: cover;
  height:auto;
  width: 100vw;
  background-repeat: no-repeat;
}
.alice {
  margin: 40px auto;
}
.alice img{
  float: left;
  margin-top:17%;
  width:25%;
  height: auto;
}
.bottle img{
  float: right;
  width:17.5%;
  height: auto;
}
/* The Clouds Component */
/*  */


.clouds img{
  width: 75%;
  height:auto;
}